{% extends "BotellaBundle::layout_back.html.twig" %}


{% block title %}
Galerie - {{ parent() }}
{% endblock %}

{% block body %}

<article class="content-back">
    <h3>Accueil Backoffice</h3>


</article>
</section>
{% endblock %}
