{% extends "BotellaBundle::layout_page.html.twig" %}


{% block title %}
Galerie - {{ parent() }}
{% endblock %}

{% block body %}
<section class="cadre row expanded page">
    <h1>Mentions légales</h1>

</section>
<a href="#section1" class="top bottom">
    <button type="button" name="bottom">
        <div class="content-button">
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
            <p>Top</p>
        </div>
    </button>
</a>
{% endblock %}
